@import "../../SCSSMixins/scss.mixin";

.Car:after{
  @extend box;
  content: '';
  position: absolute;
  top:-5px;
  left:5px;
  right:5px;
  height: 5px;
  background: rgba(0,0,0,0.2);
}
.Car{
  @extend box;
  width: 25px;
  height: 50px;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top:100px;
  left: 100px;
  transform-origin: bottom;
  .wheel{
    @extend box;
    width: 4px;
    height: 12px;
    background: rgba(0,0,0,0.2);
    position: absolute;
  }
  .wheel1{top:5px; left:-2px}
  .wheel2{top:5px; right:-2px}
  .wheel3{bottom:5px; left:-2px}
  .wheel4{bottom:5px; right:-2px}
  z-index: 100;
}

.Missile{
  @extend box;
  width: 2px;
  height: 10px;
  background: red;
  position: absolute;
}